@import "variables";
@import "mixins";
@import "typography";

.events {
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    > .event-card {
        display: flex;
        flex-direction: column;
        padding: 16px;
        margin: 12px 0;
        border: 1px solid map-get($colors, border);
        border-radius: 8px;
        background-color: map-get($colors, white);
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
        transition:
            box-shadow 0.3s ease,
            transform 0.3s ease;
        gap: 12px;

        &:hover {
            transform: translateY(-5px);
            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
        }
        > .event-teams {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 20px;
            @include heading-3;
            font-weight: bold;

            > .home-team {
                flex-basis: 40%;
                text-align: left;
            }

            > .away-team {
                flex-basis: 40%;
                text-align: right;
            }

            > .vs {
                flex: 1;
                text-align: center;
                font-weight: normal;
                color: map-get(map-get($colors, text), washed-gray);
            }
        }

        > .odds {
            display: flex;
            flex-direction: column;

            > .odds-header {
                @include body-text-small;
                display: flex;
                padding: 12px;
                justify-content: space-between;
                margin-bottom: 12px;
                font-weight: bold;
                color: map-get(map-get($colors, secondary), base);
                background-color: map-get($colors, light-blue);
                border-radius: 8px;
            }

            > .odds-buttons {
                display: flex;
                justify-content: space-between;
                gap: 8px;

                > .odds-button {
                    @include primary-button;

                    &.selected {
                        border-color: map-get($colors, success);
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 640px) {
    .event-card {
        > .event-teams {
            flex-direction: column;
            text-align: center;

            > .home-team,
            > .away-team {
                text-align: center !important;
            }
        }

        > .odds {
            flex-direction: row !important;
            justify-content: space-between;
            gap: 8px;

            > .odds-header {
                flex-direction: column;
                width: 50%;
            }

            > .odds-buttons {
                flex-direction: column;
                flex: 1;

                > .odds-button {
                    margin-bottom: 8px;
                }
            }
        }
    }
}
