@import "typography";

@mixin event-button(
    $bg-color,
    $hover-bg,
    $selected-bg,
    $text-color: #333,
    $selected-text-color: #fff,
    $disabled-text-color,
    $hover-text-color
) {
    padding: 8px 12px;
    border: 1px solid lighten($bg-color, 30%);
    border-radius: 4px;
    background-color: $bg-color;
    @include typography-base;
    font-weight: bold;
    color: $text-color;
    cursor: pointer;
    flex: 1;
    text-align: center;
    transition: all 0.3s ease;

    &:hover:not([disabled]) {
        background-color: $hover-bg;
        border-color: darken($hover-bg, 10%);
        transform: translateY(-2px);
        color: $hover-text-color;
    }

    &:active:not([disabled]) {
        transform: translateY(1px) scale(0.98);
    }

    &:disabled {
        cursor: not-allowed;
        background-color: lighten($bg-color, 40%);
        border-color: map-get(map-get($colors, danger), base);
        color: lighten($text-color, 30%);
        opacity: 0.6;
        color: $disabled-text-color;
    }

    &.selected {
        background-color: $selected-bg;
        color: $selected-text-color;
        border-color: darken($selected-bg, 60%);
    }
}

@mixin primary-button {
    @include event-button(
        $bg-color: map-get(map-get($colors, primary), base),
        $hover-bg: map-get(map-get($colors, primary), hover),
        $selected-bg: map-get(map-get($colors, primary), selected),
        $text-color: map-get(map-get($colors, text), dark),
        $selected-text-color: map-get(map-get($colors, text), light),
        $disabled-text-color: map-get(map-get($colors, text), disabled),
        $hover-text-color: map-get(map-get($colors, text), hover)
    );
}

@mixin secondary-button {
    @include event-button(
        $bg-color: map-get(map-get($colors, secondary), base),
        $hover-bg: map-get(map-get($colors, secondary), hover),
        $selected-bg: map-get(map-get($colors, secondary), selected),
        $text-color: map-get(map-get($colors, text), dark),
        $selected-text-color: map-get(map-get($colors, text), dark),
        $disabled-text-color: map-get(map-get($colors, text), disabled),
        $hover-text-color: map-get(map-get($colors, text), hover)
    );
}

@mixin danger-button {
    @include event-button(
        $bg-color: map-get(map-get($colors, danger), base),
        $hover-bg: map-get(map-get($colors, danger), hover),
        $selected-bg: map-get(map-get($colors, danger), selected),
        $text-color: map-get(map-get($colors, text), light),
        $selected-text-color: map-get(map-get($colors, text), light)
    );
}
