<div *ngIf="loading">
    <app-loading message="Loading events..."></app-loading>
</div>

<div *ngIf="!loading && errorMessage; else eventsList">
    <app-loading [message]="errorMessage" [showSpinner]="false"></app-loading>
</div>

<app-toast #toast></app-toast>
<app-custom-confirmation-dialog [visible]="openedConfirmationDialog" [selection]="selectedOutcomeForDialog"
    [match]="selectedMatchForDialog" (confirm)="onDialogConfirm()"
    (cancel)="onDialogCancel()"></app-custom-confirmation-dialog>

<ng-template #eventsList>
    <app-event-list [events]="events" (selectionMade)="onSelectionMade($event)"></app-event-list>

    <app-pagination [currentPage]="currentPage" [totalPages]="totalPages"
        (pageChange)="changePage($event)"></app-pagination>

</ng-template>