@import "typography";
@import "variables";

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding: 20px;

    > .page-button {
        padding: 8px 12px;
        border: 1px solid #ccc;
        border-radius: 4px;
        background-color: map-get(map-get($colors, primary), base);
        @include body-text-small;
        font-weight: bold;
        color: map-get(map-get($colors, secondary), base);
        cursor: pointer;
        transition:
            background-color 0.2s,
            color 0.2s;

        &.active {
            background-color: map-get($colors, primary, hover);
            color: map-get($colors, white);
            border-color: map-get($colors, primary, selected);
            font-weight: bold;
        }

        &:hover:not(:disabled) {
            background-color: map-get($colors, light-blue);
        }

        &:disabled {
            cursor: not-allowed;
            opacity: 0.5;
        }
    }
}

@media screen and (max-width: 600px) {
    .pagination {
        flex-wrap: wrap;
        gap: 4px;
        padding: 12px;

        > .page-button {
            padding: 6px 10px;
            // @include caption;
            flex: 1;
            max-width: 80px;
            text-align: center;
            flex-shrink: 0;
        }
    }
}
