@import "variables";

.toast {
    position: fixed;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 16px 24px;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: bold;
    color: map-get($colors, white);
    z-index: 1000;
    display: none;
    opacity: 0;
    transition:
        opacity 0.3s ease,
        transform 0.3s ease;

    &.visible {
        display: block;
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
    }

    &.success {
        background-color: map-get($colors, success);
    }

    &.error {
        background-color: map-get($colors, error);
    }
}

@media screen and (max-width: 640px) {
    .toast {
        top: 80%;
    }
}
