@import "variables";
@import "typography";

.app-footer {
    background: linear-gradient(90deg, map-get($colors, primary, hover), map-get($colors, primary, selected));
    color: map-get($colors, text, light);
    padding: 26px 0px;
    text-align: center;
    width: 100%;
    position: relative;
    bottom: 0px;

    > .footer-content {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        gap: 16px;

        > .social-icons {
            display: flex;
            gap: 16px;

            > .social-icon {
                font-size: 1.2rem;
                color: map-get($colors, light-blue);
                transition:
                    color 0.3s ease,
                    transform 0.2s ease;

                &:hover {
                    color: map-get($colors, primary, selected);
                    transform: scale(1.2);
                }
            }
        }

        > .copyright {
            @include heading-3;
            font-weight: map-get($font-weights, medium);
            color: map-get($colors, text, dark);
        }
    }
}
