<footer class="app-footer">
    <div class="footer-content">
        <div class="social-icons">
            <a href="https://facebook.com" target="_blank" aria-label="Facebook" class="social-icon">
                <i class="fab fa-facebook"></i>
            </a>
            <a href="https://instagram.com" target="_blank" aria-label="Instagram" class="social-icon">
                <i class="fab fa-instagram"></i>
            </a>
            <a href="https://twitter.com" target="_blank" aria-label="Twitter" class="social-icon">
                <i class="fab fa-twitter"></i>
            </a>
        </div>
        <div class="copyright">
            &copy; 2025 Football Betting
        </div>
    </div>
</footer>